*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    background: linear-gradient(107deg , #c33764, #1d2671);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}

#animation {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    height: 40px;
    width: 470px;
    text-align: center;
   color: #A770EF;
    animation-name: example;
    animation-duration: 6s;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {margin-left: 0px;}
    to {margin-left: 450px;}
  }

@keyframes example {
    from {color: #A770EF;}
    to {color: #ff7e5f;}
  }

#main {
    height: 640px;
    width: 1200px;
   
    border-radius: 0px;
    background: linear-gradient(102deg , #6190e8, #a7bfe8);
    margin-top: 20px;
    display: flex;
    border-radius: 20px;
    border: 7px solid #ECFDF5;
}    

#mini-main {
  width: 1000px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
 background:linear-gradient(102deg, #43c6ac, #f8ffae);
 margin-top: 40px;
 border-radius: 10px;
}

#heading {
    width: 354px;
height: 80px;
margin-left: 32px;
margin-top: 50px;
font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
letter-spacing: -0.05em;
color: #2B283A;
}

#heading .span {
    color: #10B981;
    margin-left: 62px;
}

#description {
    width: 372px;
height: 28px;
margin-left: 32px;
margin-top: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #6B7280;
}

#getbtn {
    width: 159px;
height: 30px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
background-color: #10B981;
float: left;
margin-left: 92px;
margin-top: 25px;
text-align: center;
border: #ECFDF5;
border-radius: 5px;
}

#getbtn:hover {
    background-color: #2b2740;
}

hr {
    margin-top: 50px;
    width: 880px;
  height: 0px;
 margin-left: 52px;
 border: 1px solid #D5D4D8;
}

#pass {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
}

#password1 {
    width: 300px;
  height: 32px;
 margin-left: 200px;
margin-top: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #5DEF92;
border-radius: 7px;
background-color: #1d2671;
}


#password1:hover {
    opacity: 0.7;
}
#password2 {
    width: 300px;
  height: 32px;
 margin-left: 100px;
margin-top: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #5DEF92;
border-radius: 7px;
background-color: #1d2671;
}


#password2:hover {
    opacity: 0.7;
}
#password3 {
    width: 300px;
  height: 32px;
 margin-left: 200px;
margin-top: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #5DEF92;
border-radius: 7px;
background-color: #1d2671;
}


#password3:hover {
    opacity: 0.7;
}
#password4 {
    width: 300px;
  height: 32px;
 margin-left: 100px;
margin-top: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #5DEF92;
border-radius: 7px;
background-color: #1d2671;
}


#password4:hover {
    opacity: 0.7;
}

.range {
    font-size: 20px;
    text-decoration:underline;
}

#slide {
    margin-right: 200px;
    margin-top: 80px;
    
}

#slider {
    margin-left: 50px;
}

.cc {
    font-size: 20px;
    margin-top: 10px;
}

#value {
    font-size: 21px;
    margin-left: 30px;
}